<div class="container">

    <div class="row">
        <div class="col-sm-6" style="margin:200px 0"></div>
        <div class="col-sm-6" style="margin:200px 0">
            <form action="/account/profile" method="POST">
                <div class="form-group">
                    <label for="InputFullName">Họ và tên</label>
                    <input type="text" class="form-control" id="InputFullName" aria-describedby="emailHelp"
                        placeholder="Full name" name="fullname" value="{{fullname}}">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="email" value="{{email}}">
                </div>

                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>
        </div>
    </div>
</div>

<script>
    {{#if success}}
    alert("Cập nhật thành công");
    {{/if}}
</script>