.content{
    padding: 0 10%;
}
.title1{
    color: #FFF;
    text-align: center;
    width: 200px;
    background-color: black;
    margin-top:10px;
}
.title1:hover{
    background-color:rgb(65, 31, 31);
    cursor:pointer;
}

a:hover{
    text-decoration:none;
}
.pic{
    width: 100%;
   
}
.the-article-title{
    margin-top:20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.the-article-summary{
    margin-top:20px;
    font-weight: bold;
    font-size: 30px;
}

.detailBox {
    width:100%;
    border:1px solid #bbb;
    margin:10% 10% 10% 10%;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:100%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:100%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:2000px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.namefb{
    color:blue;

}
.ListBlog{
    padding: 10px;
    background-color:rgb(241, 161, 12);
}

.blog_menu>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
.blog_menu>ul>li{
    float: left;
    margin-left: 30px;
}
.blog_menu>a{
   color: #000;
   margin: 0;
}

 .blog_menu>a:hover{
    color: rgb(212, 30, 30); 
    text-decoration: underline;
 }
.blog_menu>ul>li>a{
    color: rgb(18, 48, 38); 
 }
 .blog_menu>ul>li>a:hover{
    color: rgb(218, 196, 7); 
 }
