<!DOCTYPE html>
<html>

<head>
  <title>Express App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    html {
      height: 100%;
    }

    body {
      background-color: #C2F1B3
    }

    .stack {
      max-height: 25rem;
      overflow-y: auto;
    }
  </style>
</head>

<body>

  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-12">
        <div class="card w-100 shadow mx-auto">
          <div class="card-body text-center">
            <h1 class="card-title">Oops!</h1>
            <h5 class="text-danger">Có gì đó không đúng ở đây. Chúng tôi xin lỗi vì sự bất tiện này.</h5>
            <div class="my-4">
              
              <a href="javascript:;" class="btn btn-success btn-lg  mr-5 shadow">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Liên hệ với chúng tôi
    
              </a>

              <a href="/" class="btn btn-primary btn-lg shadow">
                <i class="fa fa-home" aria-hidden="true"></i>
                Về Trang chủ
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>


