<table class="table">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Xử lí</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.blogs}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td dispaly>
                {{#if edit}}

                <div class="btn-group">
                    <a class="btn btn-primary" href="#" disabled style="margin-right:2px"><i
                            class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger" href="#" disabled><i class="fa fa-trash"></i></a>
                </div>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>