<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png"
        href="https://colombo.vn/upload/10263/fck/thi%E1%BA%BFt%20k%E1%BA%BF%20website%20tin%20t%E1%BB%A9c%20b%C3%A1o%20ch%C3%AD(2).png" />
    <title>News</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="../../public/css/blogs.css" />
    <link rel="stylesheet" href="../../public/css/home.css" />

</head>

<body>
    <!-- --------------------------------------------------------Menu---------------------------------------------- -->
    <div class=" sticky-top menutop bg-dark   ">
        <div class="menu container ">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item  ">
                            <a class="nav-link text-light  " href="/home"> <i class="fa fa-home"
                                    aria-hidden="true"></i>Trang
                                chủ </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="/Category/ThoiSu">
                                Thời sự
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Category/ThoiSu/ChinhTri">Chính trị</a>
                                <a class="dropdown-item" href="/Category/ThoiSu/GiaoThong">Giao Thông</a>
                                <a class="dropdown-item" href="/Category/ThoiSu/DoThi">Đô Thị</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="/Category/PhapLuat">Pháp luật</a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Category/PhapLuat/PhapDinh">Pháp đình</a>
                                <a class="dropdown-item" href="/Category/PhapLuat/VuAn">Vụ án</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="/Category/TheGioi">Thế giới</a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Category/TheGioi/QuanSu">Quân sự</a>
                                <a class="dropdown-item" href="/Category/TheGioi/PhanTich">Phân Tích</a>
                                <a class="dropdown-item" href="/Category/TheGioi/TuLieu">Tư liệu</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="/Category/KinhDoanh">Kinh doanh</a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Category/KinhDoanh/BatDongSan">Bất động sản</a>
                                <a class="dropdown-item" href="/Category/KinhDoanh/HangKhong">Hàng không</a>
                                <a class="dropdown-item" href="/Category/KinhDoanh/TaiChinh">Tài chính</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" href="/Category/CongNghe">Công nghệ</a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Category/CongNghe/Mobile">Mobile</a>
                                <a class="dropdown-item" href="/Category/CongNghe/Internet">Internet</a>
                                <a class="dropdown-item" href="/Category/CongNghe/eSport">eSport</a>
                            </div>
                        </li>

                        <li class="nav-item  megamenu-li">
                            <a class="nav-link dropdown-toggle text-light" href="" id="dropdown01"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/ThoiSu">
                                            <h5>Thời sự</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/ThoiSu/ChinhTri">Chính trị</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/ThoiSu/GiaoThong">Giao thông</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/ThoiSu/DoThi">Đô
                                            thị</a>

                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/PhapLuat">
                                            <h5>Pháp luật</h5>
                                        </a>

                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/PhapLuat/PhapDinh">Pháp đình</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/PhapLuat/VuAn">Vụ án</a>

                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/TheGioi">
                                            <h5>Thế giới</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/TheGioi/QuanSu">Quân sự</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/TheGioi/PhanTich">Phân tích</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/TheGioi/TuLieu">Tư liệu</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/KinhDoanh">
                                            <h5>Kinh doanh</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/KinhDoanh/BatDongSan">Bất động
                                            sản</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/KinhDoanh/HangKhong">Hàng không</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/KinhDoanh/TaiChinh">Tài chính</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/CongNghe">
                                            <h5>Công nghệ</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/CongNghe/Mobile">Mobile</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/CongNghe/Internet">Internet</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/CongNghe/eSport">eSport</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/Category/PhimAnh">
                                            <h5>Phim ảnh</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/PhimAnh/PhimChieuRap">Phim chiếu
                                            rạp</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Category/PhimAnh/PhimTruyenHinh">Phim truyền
                                            hình</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/blogs/search" method="POST">

                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                                aria-hidden="true"></i>Search</button>
                    </form>
                    {{#if  writer}}
                    <div class="nav-item">
                        <a class="nav-link text-light" href="/writer">Writer</a>
                    </div>
                    {{/if}}

                    {{#if  editor}}
                    <div class="nav-item">
                        <a class="nav-link text-light" href="/editor">Editor</a>
                    </div>
                    {{/if}}

                    {{#if  admin}}
                    <div class="nav-item">
                        <a class="nav-link text-light" href="/admin">Admin</a>
                    </div>
                    {{/if}}

                    {{#if isAuth}}
                    <div class=" dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/61469058_1355476681275794_2062156430378532864_n.jpg?_nc_cat=103&_nc_oc=AQmuCAUzSuPOXfUSHMhQNsVL4FGCRCrZ51nvsp0llx0Fcp0pwK5n5nAU6csY7-MBRHqDGnBAgoQbGTqBm4aANCBM&_nc_ht=scontent.fdad3-1.fna&oh=f3a169255ae19b1c2f8903d3520bbcb5&oe=5D937A5B"
                                style="width: 32px; height:32px; border-radius: 100%" alt="Paris">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item " href="#"> <img
                                    src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/61469058_1355476681275794_2062156430378532864_n.jpg?_nc_cat=103&_nc_oc=AQmuCAUzSuPOXfUSHMhQNsVL4FGCRCrZ51nvsp0llx0Fcp0pwK5n5nAU6csY7-MBRHqDGnBAgoQbGTqBm4aANCBM&_nc_ht=scontent.fdad3-1.fna&oh=f3a169255ae19b1c2f8903d3520bbcb5&oe=5D937A5B"
                                    style="width: 32px; height:32px; border-radius: 100%" alt="Paris">
                                <h5 class=" text-danger ">{{fullname}}</h5>
                            </div>
                            <div class=" dropdown-item ">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <a href="/account/logout" class=" font-weight-bold ">Đăng xuất</a>
                            </div>

                        </div>
                    </div>
                    {{else}}
                    <a href="/account/login" target="popup"
                        onclick="window.open('/account/login','popup','width=600,height=750,top=10,left=400'); return false;">
                        <i class="fa fa-user-circle-o fa-2x mr-0 text-warning" aria-hidden="true"></i>
                    </a>
                    {{/if}}
                    
                </div>
            </nav>
        </div>
    </div>

    {{{body}}}
    <!----------------------------------------------------------Footer------------------------------------------------- -->
    <footer class="page-footer font-small stylish-color-dark pt-4 ">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>
        <!-- Call to action -->
        <hr>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook-official" style="font-size:48px;color:rgb(22, 25, 187)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter" style="font-size:48px;color:rgb(219, 63, 15)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus" style="font-size:48px;color:rgb(176, 204, 52)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fa fa-youtube" style="font-size:48px;color:red"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-whatsapp" style="font-size:48px;color:rgb(226, 172, 25)"></i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href=""> news.com</a>
        </div>
        <!-- Copyright -->

    </footer>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="../../public/js/js.js"> </script>

    {{#if close}}
    <script>
        window.opener.location.reload(true);
        window.close();
        close = false;
    </script>
    {{/if}}

</body>

</html>