<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png"
        href="https://colombo.vn/upload/10263/fck/thi%E1%BA%BFt%20k%E1%BA%BF%20website%20tin%20t%E1%BB%A9c%20b%C3%A1o%20ch%C3%AD(2).png" />
    <title>News</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="../../public/css/blogs.css" />
    <link rel="stylesheet" href="../../public/css/home.css" />

</head>

<body>
    <!-- --------------------------------------------------------Menu---------------------------------------------- -->
    <div class=" sticky-top menutop bg-dark  ">
        <div class="menu container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item ">
                            <a class="nav-link text-light  " href="/home"> <i class="fa fa-home"
                                    aria-hidden="true"></i>Trang
                                chủ </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/ThoiSu">Thời sự</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/PhapLuat">Pháp luật</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/TheGioi">Thế giới</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/KinhDoanh">Kinh doanh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/CongNghe">Công nghệ</a>
                        </li>

                        <li class="nav-item  megamenu-li">
                            <a class="nav-link dropdown-toggle text-light" href="" id="dropdown01"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/ThoiSu">
                                            <h5>Thời sự</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/ThoiSu/ChinhTri">Chính trị</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/ThoiSu/GiaoThong">Giao thông</a>
                                        <a class="dropdown-item text-light color_item_megamennu" href="/ThoiSu/DoThi">Đô
                                            thị</a>

                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/PhapLuat">
                                            <h5>Pháp luật</h5>
                                        </a>

                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/PhapLuat/PhapDinh">Pháp đình</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/PhapLuat/VuAn">Vụ án</a>

                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/TheGioi">
                                            <h5>Thế giới</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Thegioi/QuanSu">Quân sự</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/Thegioi/PhanTich">Phân tích</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/TheGioi/TuLieu">Tư liệu</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/KinhDoanh">
                                            <h5>Kinh doanh</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/KinhDoanh/BatDongSan">Bất động
                                            sản</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/KinhDoanh/HangKhong">Hàng không</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/KinhDoanh/TaiChinh">Tài chính</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/CongNghe">
                                            <h5>Công nghệ</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/CongNghe/Mobile">Mobile</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/CongNghe/Internet">Internet</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/CongNghe/eSport">eSport</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="text-danger " href="/PhimAnh">
                                            <h5>Phim ảnh</h5>
                                        </a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/PhimAnh/PhimChieuRap">Phim chiếu
                                            rạp</a>
                                        <a class="dropdown-item text-light color_item_megamennu"
                                            href="/PhimAnh/PhimTruyenHinh">Phim truyền
                                            hình</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">

                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                                aria-hidden="true"></i>Search</button>
                    </form>

                    <a href="/account/login">
                    </a>

                    <a href="/account/login" target="popup"
                        onclick="window.open('/account/login','popup','width=600,height=750,top=10,left=400'); return false;">
                        <i class="fa fa-user-circle-o fa-2x mr-0 text-warning" aria-hidden="true"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    {{{body}}}
    <!----------------------------------------------------------Footer------------------------------------------------- -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>
        <!-- Call to action -->
        <hr>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook-official" style="font-size:48px;color:rgb(22, 25, 187)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter" style="font-size:48px;color:rgb(219, 63, 15)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus" style="font-size:48px;color:rgb(176, 204, 52)"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fa fa-youtube" style="font-size:48px;color:red"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-whatsapp" style="font-size:48px;color:rgb(226, 172, 25)"></i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href=""> news.com</a>
        </div>
        <!-- Copyright -->

    </footer>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="../../public/js/js.js"></script>
    <script>
        { { close } }
    </script>



</body>

</html>